<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head-bootstrap}"><title>403</title></head>

<link rel="stylesheet" th:href="@{/css/errors.css}"/>

<body class="d-flex flex-column h-50">
<header>
    <div th:replace="~{fragments/commons::navbar}"></div>
</header>

<main class="flex-shrink-0">
    <div class="container">
        <div class="text-center">
            <div class="text-center">
                <img class="img-fluid" src="/images/error.jpg" alt="403">
            </div>
        </div>
    </div>

</main>
</body>
</html>




