<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/commons::head-bootstrap}"><title>AddBoat</title></head>
<link rel="stylesheet" th:href="@{/css/boat-add.css}"/>
<body>
<nav th:replace="~{fragments/commons::navbar}"></nav>

<article class="my-5 w-50 max-width: 50% mx-auto" id="file-add">


    <form class="row g-3"
          th:action="@{/boat/add}"
          th:method="POST"
          th:object="${boatDTO}"
          enctype="multipart/form-data">


        <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input id="name"
                   th:field="*{name}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control"
                   placeholder="Name"/>
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}"
               class="invalid-feedback"></p>
        </div>

        <div class="col-md-6">
            <label for="description" class="form-label">Description</label>
            <input id="description"
                   th:field="*{description}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control"
                   placeholder="Description"/>
            <p th:if="${#fields.hasErrors('description')}"
               th:errors="*{description}"
               class="invalid-feedback"></p>
        </div>

        <div class="col-md-6">
            <label for="benchesCount" class="form-label">BenchesCount</label>
            <input id="benchesCount"
                   th:field="*{benchesCount}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control"
                   placeholder="BenchesCount"/>
            <p th:if="${#fields.hasErrors('benchesCount')}"
               th:errors="*{benchesCount}"
               class="invalid-feedback"></p>
        </div>

        <div class="col-md-6">
            <label for="type" class="form-label">Select type</label>
            <div class="input-group has-validation">
                <select class="form-select"
                        th:field="*{type}"
                        th:errorclass="is-invalid"
                        id="type"
                        required=""
                        aria-describedby="type">
                    <option selected="selected" value="">Select type</option>
                    <option th:each="p : ${T(bg.softuni.boats.model.enums.BoatTypeEnum).values()}"
                            th:text="${p}"
                            th:value="${p}">
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('type')}"
                     th:errors="*{type}"
                     class="invalid-feedback"></div>
            </div>
        </div>

        <div class="col-md-12">
            <label for="photo" class="form-label">Upload photo</label>
            <input type="file"
                   class="form-control"
                   th:field="*{photo}"
                   th:errorclass="is-invalid"
                   accept="image/jpeg, image/png, image/jpg"
                   id="photo"
                   required/>
            <p th:if="${#fields.hasErrors('photo')}"
               th:errors="*{photo}"
               class="invalid-feedback"></p>
        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-main" type="submit">Create new boat</button>
        </div>
    </form>
    <footer th:replace="~{fragments/commons::footer}"></footer>

</article>

</body>
