<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head-bootstrap}"><title>Index page</title></head>
<link rel="stylesheet" th:href="@{/css/index.css}"/>

<body>
<header>
    <div th:replace="~{fragments/commons::navbar}"></div>
</header>

<div class="px-4 py-1 my-5 text-center">
    <h1 class="display-6 fw-bold text-body-emphasis mb-5">My folding boats</h1>
    <img class="img-fluid" src="/images/logo_SomFen.PNG" alt="company-logo" width="300">
</div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-5 border shadow-lg"
         style="backdrop-filter: blur(0.6rem)">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h4>FORTUNA</h4>
            <p class="lead">This is the latest boat I've built and its design is based on Somovitsa and Oslo boats.</p>
            <h4>Her features are:</h4>
            <p class="lead">Luxury class, three benches and completely new transom design.</p>
        </div>
        <div class="col-lg-4 p-0 overflow-hidden shadow-lg mb-5 rounded-5">
            <img class="img-fluid" src="/images/index_Fortuna.jpg" alt="" width="720">
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-5 border shadow-lg"
         style="backdrop-filter: blur(0.6rem)">
        <div class="col-lg-4 p-0 overflow-hidden shadow-lg m-auto mb-5 rounded-5">
            <img class="img-fluid" src="/images/index_somovitsa.jpg" alt="" width="720">
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h4>SOMOVITSA</h4>
            <p class="lead">She is the first boat I've created with a lot of passion and love. From the moment I've heard about the folding boats till its first and successful test on water have passed only three months!
            </p>
            <h4>Her features are:</h4>
            <p class="lead">Standard class and three benches.</p>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-5 border shadow-lg"
         style="backdrop-filter: blur(0.6rem)">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h4>OSLO</h4>
            <p class="lead"> The main idea behind the design of this boat is to be small enough to be carried and used by a single person. </p>
            <h4>Her features are:</h4>
            <p class="lead">Standard class, two benches and enhanced transom. It can be loaded in Golf 2! </p>
        </div>
        <div class="col-lg-4 p-0 overflow-hidden shadow-lg mb-5 rounded-5">
            <img class="img-fluid" src="/images/index_Oslo.jpg" alt="" width="720">
        </div>
    </div>
</div>

</body>
</html>
